<configuration>
    <configSections>
        <section name="names" type="System.Configuration.SingleTagSectionHandler"/>
    </configSections>    
    <names         
        nodeSet_RENAME_ME="node-set"
        objectType_RENAME_ME="object-type"
        hasSameNode_RENAME_ME="has-same-node"
        dateTime_RENAME_ME="date-time"
        leapYear_RENAME_ME="leap-year"
        monthInYear_RENAME_ME="month-in-year"
        monthName_RENAME_ME="month-name"
        monthAbbreviation_RENAME_ME="month-abbreviation"
        weekInYear_RENAME_ME="week-in-year"
        dayInYear_RENAME_ME="day-in-year"
        dayInMonth_RENAME_ME="day-in-month"
        dayOfWeekInMonth_RENAME_ME="day-of-week-in-month"
        dayInWeek_RENAME_ME="day-in-week"
        dayName_RENAME_ME="day-name"
        dayAbbreviation_RENAME_ME="day-abbreviation"
        hourInDay_RENAME_ME="hour-in-day"
        minuteInHour_RENAME_ME="minute-in-hour"
        secondInMinute_RENAME_ME="second-in-minute"
        formatDate_RENAME_ME="format-date"
        parseDate_RENAME_ME="parse-date"
        weekInMonth_RENAME_ME="week-in-month"
        addDuration_RENAME_ME="add-duration"
        encodeUri_RENAME_ME="encode-uri"
        decodeUri_RENAME_ME="decode-uri"
        randomSequence_RENAME_ME="random-sequence"
    />
</configuration>